In [ ]:
import numpy as np
import pandas as pd

In [ ]:
covid_data = pd.read_csv('../covid-19-county-level-data.csv')
mobility = pd.read_csv('../us-mobility.csv')

In [ ]:
covid_data = covid_data[covid_data.state == 'Massachusetts']
mobility = mobility[mobility.state == 'Massachusetts']

In [4]:
mobility['county'] = mobility.county.apply(lambda x: str(x).split()[0])
mobility = mobility.drop(['Unnamed: 0','state'], axis=1)
covid_data = covid_data.drop(['Unnamed: 0','fips','state'],axis=1)

In [5]:
df = pd.merge(covid_data, mobility,  how='left', left_on=['date','county'], right_on = ['date','county',])
df = df[df['county']!='Total']
df = df[df['county']!='Unknown']

In [6]:
df["retail_and_recreation"] = df.groupby("county")["retail_and_recreation"].transform(lambda x: x.fillna(x.median()))
df["grocery_and_pharmacy"] = df.groupby("county")["grocery_and_pharmacy"].transform(lambda x: x.fillna(x.median()))
df["parks"] = df.groupby("county")["parks"].transform(lambda x: x.fillna(x.median()))
df["transit_stations"] = df.groupby("county")["transit_stations"].transform(lambda x: x.fillna(x.median()))
df["workplaces"] = df.groupby("county")["workplaces"].transform(lambda x: x.fillna(x.median()))
df["residential"] = df.groupby("county")["residential"].transform(lambda x: x.fillna(x.median()))
df = df.fillna(0)

In [7]:
print(df[np.isnan(df.retail_and_recreation)].county.unique())
print(df[np.isnan(df.grocery_and_pharmacy)].county.unique())
print(df[np.isnan(df.parks)].county.unique())
print(df[np.isnan(df.transit_stations)].county.unique())
print(df[np.isnan(df.workplaces)].county.unique())
print(df[np.isnan(df.residential)].county.unique())
# print(df['cases'].isnull().values.any())
# print(df['deaths'].isnull().values.any())

# df.to_csv('../new_data.csv')

[]
[]
[]
[]
[]
[]

In [9]:
restaurants = pd.read_csv('../restaurant.csv')
restaurants= restaurants.drop(['Unnamed: 0','Unnamed: 0.1','state','region_type','region','country'],axis=1)
restaurants

     percent_yoy_change        date
0                     0  2020-02-18
1                     7  2020-02-19
2                     5  2020-02-20
3                    -7  2020-02-21
4                    -1  2020-02-22
..                  ...         ...
157                 -45  2020-07-24
158                 -47  2020-07-25
159                 -49  2020-07-26
160                 -62  2020-07-27
161                 -59  2020-07-28

[162 rows x 2 columns]

In [10]:
df_r = pd.merge(df, restaurants,  how='left', left_on=['date'], right_on = ['date'])
df_r['percent_yoy_change'] = df_r['percent_yoy_change'].fillna(0)
df_r

,date,county,cases,deaths,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,percent_yoy_change
0,2020-02-01,Suffolk,1,0,-49.0,-18.0,4.0,-67.0,-53.0,18.0,0.0
1,2020-02-02,Suffolk,1,0,-49.0,-18.0,4.0,-67.0,-53.0,18.0,0.0
2,2020-02-03,Suffolk,1,0,-49.0,-18.0,4.0,-67.0,-53.0,18.0,0.0
3,2020-02-04,Suffolk,1,0,-49.0,-18.0,4.0,-67.0,-53.0,18.0,0.0
4,2020-02-05,Suffolk,1,0,-49.0,-18.0,4.0,-67.0,-53.0,18.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1964,2020-07-28,Nantucket,34,1,-67.5,-35.5,0.0,0.0,-21.0,0.0,-59.0
1965,2020-07-28,Norfolk,10034,977,-32.0,-12.0,73.0,-56.0,-51.0,18.5,-59.0
1966,2020-07-28,Plymouth,9018,706,-23.0,-7.0,148.0,-27.0,-38.0,14.0,-59.0
1967,2020-07-28,Suffolk,20960,1052,-49.0,-18.0,4.0,-67.0,-53.0,18.0,-59.0
1968,2020-07-28,Worcester,13166,982,-25.5,-9.0,57.5,-26.0,-40.0,13.0,-59.0